* {
  font-family: sans-serif, Arial, Helvetica;
  color: #fff;
}

.navbar {
  position: sticky;
  top: 0;
  z-index: 100;
  width: 100%;
  line-height: 30px;
  background-color: #232329;
}

.logo {
  line-height: 30px;
  display: inline-block;
  color: #fff;
  font-weight: bold;
  font-size: 2rem;
  letter-spacing: 2px;
}
.logo:hover {
  text-decoration: none;
  color: #ff9509;
}

.navbar-items {
  line-height: 30px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  /* background: rgba(0, 0, 0, 0); */
  color: #fff;
  text-align: right;
  font-size: 16px;
}

.pc-view {
  /* display: inline-block; */
  padding: 10px 20px;
  color: #fff;
  font-size: 1.1rem;
  margin-right: 20px;
}
.pc-view:hover {
  text-decoration: none;
  color: #ff9b19;
}

.menu-icon {
  display: none;
}

@media screen and (max-width: 770px) {
  .pc-view {
    display: none;
  }

  .menu-icon {
    display: inline-block;
  }

  .menu-icon:hover {
    cursor: pointer;
  }

  .navbar-items {
    display: inline-block;
  }
  .navbar-items .toggle-container {
    margin: 0;
    margin-bottom: 18px;
  }

  .logo-container {
    margin: 0 auto;
  }
}
header {
  background-color: #232329;
  color: #fff;
}
header .header-container {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
  align-content: center;
  width: 100%;
}
header .header-img-container {
  padding: 70px 0;
  margin: 0 30px;
}
header .header-img-container img {
  width: 600px;
}
header .header-img-info {
  padding: 140px 30px;
  width: 500px;
}
header .header-img-info .contact-btn {
  padding: 10px 25px;
  color: #232329;
  font-weight: 600;
  border-radius: 5px;
  background-color: #ff9b19;
}
header .header-img-info > p:first-child {
  color: #ff9b19;
  font-size: 2.5rem;
  font-weight: 700;
}

#about {
  background-color: #17171e;
  padding: 70px 0;
}

.about-container {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
  align-content: center;
  width: 100%;
}
.about-container .about-img-container {
  margin: 20px;
}
.about-container .about-img-container img {
  width: 650px;
  height: 650px;
}
.about-container .about-img-info {
  width: 500px;
  margin: 10px;
  padding-top: 80px;
  font-size: 1.5rem;
  font-weight: 600;
}
.about-container .about-img-info > p:first-child {
  font-size: 2rem;
  font-weight: 700;
}

#gallery {
  background-color: #17171e;
  padding-bottom: 120px;
}
#gallery .gallery-container p {
  width: 250px;
  margin: 0 auto;
  font-size: 2rem;
}
#gallery .gallery-img-container {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
  align-content: center;
  width: 100%;
}
#gallery .gallery-img-container > div {
  margin: 15px;
}
#gallery .gallery-img-container img {
  width: 400px;
  height: 500px;
}

#enjoy {
  background-color: #17171e;
  padding: 100px 0;
}

.enjoy-container {
  position: relative;
}
.enjoy-container .enjoy-img-info {
  position: absolute;
  width: 710px;
  height: 560px;
  top: 188px;
  left: 360px;
  border: 10px solid #fe9000;
  padding: 50px;
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
}
.enjoy-container .enjoy-img-info > p:first-child {
  font-size: 2.5rem;
  font-weight: 700;
}

#best {
  position: relative;
}

.best-img-container {
  position: absolute;
  top: -65px;
  left: 5px;
  z-index: 10;
}
.best-img-container img {
  width: 570px;
  height: 570px;
}

.best-container {
  background-color: #fe9000;
  height: 450px;
  position: relative;
  display: flex;
  align-items: center;
}
.best-container .best-img-info {
  width: 500px;
  position: relative;
  top: 10px;
  left: 650px;
}
.best-container .best-img-info p {
  font-size: 1.3rem;
  font-weight: 700;
}
.best-container .best-img-info > p:first-child {
  font-size: 2rem;
  font-weight: 700;
}

footer {
  background-color: #232329;
}

.footer-container {
  padding: 60px;
}
.footer-container .footer-element-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.footer-container .footer-element-container .footer-element {
  color: #fff;
  margin: 0 10px;
}
.footer-container .footer-icons-container {
  margin: 20px;
}
.footer-container .footer-icons-container .footer-icons {
  width: 200px;
  margin: 0 auto;
}
.footer-container .footer-icons-container .footer-icons .fab {
  margin: 0 5px;
}