$background-color: #17171e;

* {
  font-family: sans-serif, Arial, Helvetica;
  color: #fff;
  // background-color: $background-color;
}

.navbar {
  position: sticky;
  top: 0;
  z-index: 100;
  width: 100%;
  line-height: 30px;
  background-color: #232329;
}

.logo {
  line-height: 30px;
  display: inline-block;
  // margin: 10px 46px;
  color: #fff;
  font-weight: bold;
  font-size: 2rem;
  letter-spacing: 2px;
  &:hover {
    text-decoration: none;
    color: lighten(#fe9000, 2);
  }
}

.navbar-items {
  line-height: 30px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  /* background: rgba(0, 0, 0, 0); */
  color: #fff;
  text-align: right;
  font-size: 16px;
  // transition: 1s;
}

.pc-view {
  /* display: inline-block; */
  padding: 10px 20px;
  color: #fff;
  font-size: 1.1rem;
  margin-right: 20px;
  &:hover {
    text-decoration: none;
    color: lighten(#fe9000, 5);
  }
}
.menu-icon {
  display: none;
}

@media screen and (max-width: 770px) {
  .pc-view {
    display: none;
  }
  .menu-icon {
    display: inline-block;
  }
  .menu-icon:hover {
    cursor: pointer;
  }
  .navbar-items {
    display: inline-block;

    .toggle-container {
      margin: 0;
      margin-bottom: 18px;
    }
  }
  .logo-container {
    margin: 0 auto;
  }
}

/////*************header************//////////
header {
  background-color: #232329;
  color: #fff;

  .header-container {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    align-content: center;
    width: 100%;
  }

  .header-img-container {
    padding: 70px 0;
    margin: 0 30px;

    img {
      width: 600px;
    }
  }

  .header-img-info {
    padding: 140px 30px;
    width: 500px;

    .contact-btn {
      padding: 10px 25px;
      color: #232329;
      font-weight: 600;
      border-radius: 5px;
      background-color: lighten(#fe9000, 5);
    }
  }

  .header-img-info > p:first-child {
    color: lighten(#fe9000, 5);
    font-size: 2.5rem;
    font-weight: 700;
  }
}

/////*************about************//////////
#about {
  background-color: #17171e;
  padding: 70px 0;
}

.about-container {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
  align-content: center;
  width: 100%;

  .about-img-container {
    margin: 20px;
    // width: 450px;
    // padding: 20px;
    img {
      width: 650px;
      height: 650px;
    }
  }

  .about-img-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    margin: 20px;
    // padding-top: 80px;
    font-size: 1.5rem;
    font-weight: 600;
  }

  .about-img-info > p:first-child {
    align-self: flex-start;
    font-size: 2.2rem;
    font-weight: 800;
  }
}
/////*************quality************//////////
#quality {
  position: relative;
  // margin-bottom: 300px;
  #shape {
    width: 100%;
  }
  #pancake {
    position: absolute;
    // height: 788px;
    top: -70px;
    right: -370px;
    overflow: hidden;
  }
  #egg {
    position: absolute;
    // height: 830px;
    top: 680px;
    right: -20px;
    overflow: hidden;
  }
  #best-meal {
    position: absolute;
    // height: 830px;
    bottom: 70px;
    left: -100px;
    overflow: hidden;
  }
}
.quality-container {
  // background-color: #17171e;
  width: 550px;
  position: absolute;
  top: 350px;
  left: 150px;

  .quality-img-info {
    font-size: 1.5rem;
    font-weight: 600;

    > p:first-child {
      font-size: 2rem;
      font-weight: 700;
    }
  }
}

/////*************gallery************//////////
#gallery {
  background-color: #17171e;
  padding-bottom: 120px;

  .gallery-container p {
    text-align: center;
    font-size: 2.2rem;
    font-weight: 800;
    padding: 50px 0;
  }

  .gallery-img-container {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    align-content: center;
    width: 100%;

    > div {
      margin: 15px;
    }

    img {
      width: 400px;
      height: 500px;
    }
  }
}

/////*************enjoy************//////////
#enjoy {
  // padding: 100px 0;
  border: $background-color;
}

.enjoy-container {
  position: relative;

  .enjoy-img-container img {
    object-fit: contain;
    width: 100%;
  }

  .enjoy-img-info {
    position: absolute;
    // margin: auto;
    box-sizing: border-box;
    background-color: $background-color;
    width: 705px;
    height: 555px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 10px solid #fe9000;
    padding: 88px;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 700;
  }

  .enjoy-img-info > p:first-child {
    font-size: 2.5rem;
    font-weight: 700;
  }
}

/////*************menu************//////////
#menu {
  padding-top: 100px;
  background-color: #17171e;
}

.menu-container {
  padding-bottom: 150px;
  > p:first-child {
    font-size: 2.2rem;
    font-weight: 800;
    padding: 30px 0;
    text-align: center;
  }
}

.menu-items-container {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
  align-content: center;
  width: 100%;
  > div:nth-child(odd) {
    margin: 0 40px;
  }
  .menu-items {
    img {
      margin-bottom: 10px;
    }
    .item-name {
      font-weight: 700;
      font-size: 1.5rem;
    }
    .item-price {
      font-weight: 600;
      font-size: 1.2rem;
    }
    > p:nth-child(even) {
      color: #fe9000;
    }
  }
}

/////*************best************//////////
#best {
  position: relative;
  background-color: #fe9000;
}

.best-img-container {
  position: absolute;
  top: -65px;
  left: -10px;
  z-index: 10;
  img {
    width: 570px;
    height: 570px;
  }
}

.best-container {
  background-color: #fe9000;
  height: 450px;
  display: flex;
  align-items: center;

  .best-img-info {
    width: 500px;
    position: relative;
    top: 10px;
    left: 650px;

    p {
      font-size: 1.3rem;
      font-weight: 700;
    }
  }
  .best-img-info > p:first-child {
    font-size: 2rem;
    font-weight: 700;
  }
}
/////*************footer************//////////
footer {
  background-color: #232329;
}

.footer-container {
  padding: 60px;

  .footer-element-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    .footer-element {
      color: #e8e7e7;
      margin: 0 20px;
    }
  }

  .footer-icons-container {
    margin: 20px;
    .footer-icons {
      width: 200px;
      margin: 0 auto;

      .fab {
        margin: 0 5px;
      }
    }
  }
}
